@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body,
#__next {
  background-color: #b8f3fa;
  background-image: url("../public/assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #1b1b1b;
}
